body {
  margin: 0;
  min-height: 100vh;

  display: grid;
  place-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  width: 40%;
  gap: 4px;
}

.grid .cell {
  display: flex;
  aspect-ratio: 1 / 1;
  width: 100%;
  background: #ff6262;
  align-items: center;
  justify-content: center;
}
.grid .cell[state=active]{
  background: #1adaec;
  border-color: blue;
  border-radius: 6px;
}
.grid .cell[state=solved]{
  background: #28e16f;
}

.grid .row-label {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  overflow: hidden;
  line-break: auto;
}
.grid .col-label,
.grid .corner {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  overflow: hidden;
  line-break: auto;
}