<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="module" src="/static/app.js"></script>
</head>

<body>
    ISAAAAAAAAAAAAAAAAAAAAAAAAAAAAC <br>
    <label id="item-search-label">Search for Item</label> <br>
    <input type="search" list="item-search-datalist" id="item-search"/>
    <div id="item-search-datalist-div"></div>
</body>